<div class="footer text-center">
  <h5 class="footer-title">
    Vinoteca El Sendero || Todos los derechos reservados
  </h5>
  <p class="footer-text">
    Producto diseñado y desarrollado por Matías Santiago Moreno
  </p>
  <a
    href="https://www.instagram.com/santim990/"
    target="_blank"
    class="btn btn-primary"
    >Contactar al dev</a
  >
</div>
