<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">El Sendero</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/productos/sinAlcohol">Bebidas Sin Alcohol</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/productos/vinos">Vinos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/productos/cervezas">Cervezas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/productos/licores">Licores</a>
      </li>
    </ul>
    <ul class="navbar-nav alinear-derecha">
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/pedidos">Ver Carrito</a>
      </li>
      <% if (req.session.username) { %>
      <li class="nav-item">
        <a
          class="nav-link"
          href="/usuarios/detallesUsuario/<%= req.session.username %>"
        >
          <strong><%= req.session.username %></strong>
        </a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/login">Mi Cuenta</a>
      </li>
      <% } %> <% if (req.session.username) { %>
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/cerrarSesion"> Cerrar Sesión</a>
      </li>
      <% } else { %> <% } %>
    </ul>
  </div>
</nav>
