form {
  margin: 10vh 10vw;
}

.form-link {
  font-size: 20px;
  margin-top: 20px;
  color: black;
}
.form-link:hover {
  color: black;
  text-decoration: underline;
}

.tdModifUser {
  padding: 10px;
}

.inputModifUser {
  background-color: #c6c7c9;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
}
